PORT=3000

LOG_LEVEL=debug
LOG_FILE_PATH=logs

DATABASE_NAME=eleve
DATABASE_USER=eleve
DATABASE_PASSWORD=eleve
DATABASE_PORT=5432
DATABASE_HOST=eleve_db

MIN_SUPPORTED_VERSION=1.0.0
RECOMMENDED_VERSION=1.2.3

JWT_SECRET=your_jwt_secret_key
JWT_TTL=1h
JWT_REFRESH_SECRET=your_refresh_jwt_secret_key
JWT_REFRESH_TTL=7d

APPLE_CLIENT_ID=APPLE_CLIENT_ID
APPLE_TEAM_ID=APPLE_TEAM_ID
APPLE_KEY_ID=APPLE_KEY_ID
APPLE_PRIVATE_KEY=APPLE_PRIVATE_KEY
APPLE_CALLBACK_URL=APPLE_CALLBACK_URL
